
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "static_pages/home";
.right{
	float: right;
}
.layui-form-label{
    width: 100px !important;
}
.layui-input-inline{
    width: 260px !important;
}

/* Statuses _status */
.statuses{
    .gravatar{
        height: 50px;
    }
    li{
        padding: 10px 0;
        border-bottom: 1px solid #9F9F9F;
    }
    .all_user_info{
        width: 500px !important;
    }
    .layui-input-block{
        margin-left: 50px !important;
        width: 1000px !important;
    }
    .paginate{
        text-align: center;
    }
}
/* Layouts _header */
.layui-nav{
    a{
        text-decoration:none;
    }
}


/* Shared _status_form */
#statuses_store{
    .layui-form-item{
        padding: 20px;
    }
    button{
        margin: 20px 0;
    }
}

