
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "static_pages/home";
.right{
	float: right;
}
.layui-form-label{
    width: 100px !important;
}
.layui-input-inline{
    width: 260px !important;
}


/* Users index */
#all_users{
    .gravatar{
        height: 50px;
    }
    li{
        padding: 10px 0;
        border-bottom: 1px solid #9F9F9F;
    }
    .all_user_info{
        width: 500px !important;
    }

}

/* Statuses _status */
#user_statuses {
    .gravatar {
        height: 50px;
    }

    li {
        padding: 10px 0;
        border-bottom: 1px solid #9F9F9F;
    }
    .layui-input-block{
        margin-left: 50px !important;
    }
}

