
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "static_pages/home";
.right{
	float: right;
}
.layui-form-label{
    width: 100px !important;
}
.layui-input-inline{
    width: 260px !important;
}